<!-- Navigation Menu -->
<ul class="main-navigation-menu">
	<!-- Menu Dashboard -->
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard"><!-- Link Masuk Halaman Dashboard -->
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Welcome </span>
				</div>
			</div>
		</a>
	</li>
	<!-- Menu Data Siswa -->
	<li ui-sref-active="active">
		<a ui-sref="app.siswas"><!-- Link Masuk Halaman Data Siswa -->
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Siswa </span>
				</div>
			</div>
		</a>
	</li>
</ul>
<!-- /end navigation menu -->
